/* header */
.header-bg{
    background-image: url('../images/background-image.jpg');
    height: 324px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;


}
.header-bg::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 60%;
    display: block;
  

}
/*
.navigation-wraper{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 30px;
    margin:0 auto;
    width: 1088px;
    align-items:center;

}
*/
.mainlogo{
    font-family: 'Poppins';
    color: #FFFFFF;
    font-size: 14px;
}
.navigation-div{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 30px;
    left: 50%;
    max-width: 1088px;
    width: 100%;
    transform: translatex(-50%);
}
.nav-ul{
    display: flex;
}
.nav-li:not(.active){
    margin-right: 49px;
}
.burger-bar{
    display: none;
    font-size: 35px;
    margin: 0 30px 0 0;
    color: #FFFFFF;
}
.burger-bar:hover{
    cursor: pointer;
    color: blue;
}

.color{
    color: #FFFFFF;
    font-size: 12px;
    font-family: 'Poppins';
}
.blue{
    color: #5863F8;
}

.smalllogo{
    margin-left: 5.5px;
    margin-right: 47.6px;
}

/*contact div*/
.contact-div{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0%;
    left: 50%;
    transform: translatex(-50%);
    margin-top: 146px;
    max-width: 1088px;
    width: 100%;

}
.h2-contact{
    font-family: 'Poppins';
    font-size: 42px;
    color: #FFFFFF;
}
/* pseudo elements div*/
.line{
    margin-top: 14px;
    display: flex; 
}
.divider{
    height: 19px;
    width: 1px;
    background-color: #FFFFFF;
}
.line::before{
    content:'Home';
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Poppins';
    margin-right: 14.5px;

}
.line::after{
    content:'Contact';
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Poppins';
    margin-left: 16.5px;
}

/*section 1*/
.section1{
    max-width: 1088px;
    width: 100%;
    margin: 0 auto;
}
/* map div*/
.map{
    max-width: 1088px;
    width: 100%;
    height: 286px;
    margin-top: 42px;
    margin-bottom: 84px;
    display: flex;
}
.map-block{
 width: 100%;
 height: 100%;
}
.h5-contact{
    color: #5863F8;
    font-size: 14px;
    font-family: 'Poppins';
}
.h3-contact{
    color: #000000;
    font-size: 42px;
    font-family: 'Poppins';
}
/* forms */

.forms{
    margin-top: 54px;
    max-width: 1088px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.textarea-div{
    max-width: 720px;
    width: 100%;
}
.textarea-form{
    width: 100%;
    height: 288px;
    background-color: #F8F8F8;
    resize: none;
    border: 2px solid #E8E8E8;
}

.textarea-form:focus,
.input-form:focus{
    outline: none;
}
.textarea-form::placeholder,
.input-form::placeholder{
    padding-top: 20px;
    padding-left: 20px;
    font-family: 'Poppins';
    font-size: 13px;
    color: #CECECE;

}
.smallform-divs{
    max-width: 352px;
    width: 100%;
}
.input-form{
    max-width: 352px;
    width: 100%;
    height: 60px;
    resize: none;
    border: 2px solid #E8E8E8;
}
.active-2{
    margin-top: 16px;
    margin-bottom: 16px;
}
.submit{
    background-color: #5863F8;
    max-width: 352px;
    width: 100%;
    height: 60px;
    margin-top: 16px;
    border: none;
    font-size: 14px;
    color: #FFFFFF;
    font-family: 'Poppins';
}
.submit:hover{
    background-color: #4386D2;
    cursor: pointer;
}
/*second section*/
.second-section{
    max-width: 1088px;
    width: 100%;
    height: 147x;
    margin: 50px auto 0;
    display: flex;
    justify-content: space-between;
}
.small-divs{
    max-width: 362px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.border-divs{
    background-color: #5863F8;
    max-width:  59px;
    width: 100%;
    height: 58px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.border-divs:hover{
    background-color: #4386D2;
    cursor: pointer;
}
.icons{
    color: #FFFFFF;
    width: 16.04px;
    height: 16.08px;
    
}
/*texts section*/
.texts-div{
    display: flex;
    flex-direction: column;
    max-width: 1088px;
    width: 100%;
    margin: 110px auto 50px;
}
.contact-info{
    margin-top: 15px;
    margin-bottom: 6px;
    font-family: 'Poppins';
    font-size: 18px;
}
.contact-paragrap{
    font-family: 'Poppins';
    font-size: 14px;
    color: #B1B1B1;
}
/*pictures section*/
.pictures-div{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto;
    width: 100%;
}
.picture3{
    display: block;
}
/*footer*/
.footer{
    width: 100%;
    height: 395px;
    background-color: #121212;
}
.top-footer{
    display: flex;
    justify-content: space-between;
    max-width: 1040px;
    width: 90%;
    margin: 0 auto;
    padding-top: 90px;
    padding-bottom: 54px;
}
/* first hotel div*/
.ul-li{
    display: block;
}
.hotels-div{
    max-width: 260px;
    width: 100%;
    height: 191px;
}
.logos-div{
    display: flex;
}
.hottels-h4{
    font-size: 24px;
    color: #FFFFFF;
    font-family: 'Poppins';
}
.paragrap-footer{
    color: #B1B1B1;
    font-size: 14px;
    font-family: 'Poppins';
    margin:20px 0;
}
.icons-size{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icons-size:hover{
    cursor: pointer;
 }
.fb-icon{
    background-color: #3B5998;
}
.twiter-icon{
    margin: 0 10.6px;
    background-color: #55ACEE;
}
.G-icon{
    background-color: #DC4E41;
}
.white-icons{
    color: #FFFFFF;
    width: 10.48px;
}
/*second links div*/
.links-maindiv{
    max-width: 700px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.links-title{
    color: #FFFFFF;
    font-size: 18px;
    font-family: 'Poppins semi';
    margin-bottom: 20px;
}
.links-title:hover{
    cursor: pointer;
    color: blue;
}
.li-tags{
    color: #5863F8;
    font-size: 14px;
    font-family: 'Poppins regular';
}
.li-tags:nth-child(1),
.li-tags:nth-child(2),
.li-tags:nth-child(3){
    margin-bottom: 10px;
}
.icons-2{
    border: #5863F8;
    width: 16.04px;
 }
 .icons-2:hover{
    background-color: #4386D2;
    cursor: pointer;
 }
/*bottom-footer*/
.bottom-footer{
    max-width: 1088px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.copyright{
    color: #B1B1B1;
    font-size: 14px;
    font-family: 'Poppins regular';
}
.link-2{
    color: #5863F8;
    font-size: 14px;
}



