/* header */
.header-bg{
    background-image: url('../images/background-image.jpg');
    height: 324px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;


}
.header-bg::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 60%;
    display: block;
  

}
/*
.navigation-wraper{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 30px;
    margin:0 auto;
    width: 1088px;
    align-items:center;

}
*/
.mainlogo{
    font-family: 'Poppins';
    color: #FFFFFF;
    font-size: 14px;
}
.navigation-div{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 30px;
    left: 50%;
    width: 1088px;
    transform: translatex(-50%);
}
.nav-ul{
    display: flex;
}
.nav-li:not(.active){
    margin-right: 49px;
}
.color{
    color: #FFFFFF;
    font-size: 12px;
    font-family: 'Poppins';
}
.blue{
    color: #5863F8;
}

.smalllogo{
    margin-left: 5.5px;
    margin-right: 47.6px;
}

/*contact div*/
.contact-div{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0%;
    left: 50%;
    transform: translatex(-50%);
    margin-top: 146px;
    width: 1088px;

}
.h2-contact{
    font-family: 'Poppins';
    font-size: 42px;
    color: #FFFFFF;
  
}

/* pseudo elements div*/
.line{
    margin-top: 14px;
    display: flex; 
}
.divider{
    height: 19px;
    width: 1px;
    background-color: #FFFFFF;
}
.line::before{
    content:'Home';
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Poppins';
    margin-right: 14.5px;

}
.line::after{
    content:'Contact';
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Poppins';
    margin-left: 16.5px;
}

/*section 1*/
.section1{
    width: 1088px;
    margin: 0 auto;
}
/* map div*/
.map{
    width: 1088px;
    height: 286px;
    margin-top: 42px;
   margin-bottom: 84px;
   
}
.map-block{
 width: 100%;
 height: 100%;
}
.h5-contact{
    color: #5863F8;
    font-size: 14px;
    font-family: 'Poppins';
}
.h3-contact{
    color: #000000;
    font-size: 42px;
    font-family: 'Poppins';
}
/* forms */

.forms{
    margin-top: 54px;
    max-width: 1088px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.textarea-div{
    max-width: 720px;
    width: 100%;
}
.textarea-form{
    width: 100%;
    height: 288px;
    background-color: #F8F8F8;
    resize: none;
    border: 2px solid #E8E8E8;
}

.textarea-form:focus,
.input-form:focus{
    outline: none;
}
.textarea-form::placeholder,
.input-form::placeholder{
    padding-top: 20px;
    padding-left: 20px;
    font-family: 'Poppins';
    font-size: 13px;
    color: #CECECE;

}
.smallform-divs{
    max-width: 352px;
    width: 100%;
}
.input-form{
    max-width: 352px;
    width: 100%;
    height: 60px;
    resize: none;
    border: 2px solid #E8E8E8;
}
.active-2{
    margin-top: 16px;
    margin-bottom: 16px;
}
.submit{
    background-color: #5863F8;
    max-width: 352px;
    width: 100%;
    height: 60px;
    margin-top: 16px;
    border: none;
    font-size: 14px;
    color: #FFFFFF;
    font-family: 'Poppins';
}
.submit:hover{
    background-color: #4386D2;
    cursor: pointer;
}
/*second section*/
.second-section{
    max-width: 1088px;
    width: 100%;
    height: 147x;
    margin: 50px auto 0;
    display: flex;
    justify-content: space-between;

}
.small-divs{
    max-width: 362px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.border-divs{
    background-color: #5863F8;
    max-width:  59px;
    width: 100%;
    height: 58px;
    border-radius: 50%;
}
/*texts section*/
.texts-div{
    display: flex;
    flex-direction: column;
    max-width: 1088px;
    margin: 110px auto  50px;
}
.contact-info{
    margin-top: 15px;
    margin-bottom: 6px;
    font-family: 'Poppins';
    font-size: 18px;
}
.contact-paragrap{
    font-family: 'Poppins';
    font-size: 14px;
    color: #B1B1B1;
}
/*pictures section*/
.pictures-div{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1366px;
    width: 100%;
    height: 352px;
}




